.vase.d/
.zed/
.vscode/

**/**.qcow2
**/**.fd
**/**.iso
**/**.img
**/archiso_*/

install-*.log
logs/*
user_*.json
__pycache__/*
*.pyc
__pycache__
/.directory
.idea*
**/idea/

src/
pkg/
*.pkg.tar.zst
vase-git/
